
  #cform-factors label {
    max-width: 180px;
    line-height: 1;
    margin-top: 7px;
  }
  #cform-wrap {

    width: 93.75%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em 0px;
    font-family: arial;
  }
  #cform-wrap .cform-header {
    text-align: center;
  }

  .cform-service-wrap {
    padding: 10px;
    margin-top: 10px;
  }

  .cform-section-header {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    text-decoration: underline;
    margin-bottom: 10px;
    text-align: center;
  }

  .cform-section input, .cform-section textarea {
    padding: 4px;
    width: 100%;
  }

  .cform-section textarea {
    min-height: 60px;
  }

  .cform-section label, .cform-section span.cform-autofill {
    padding-right: 6px;
    float: left;
    line-height: 27px;
    text-align: left;
  }

  .cform-col input {
    width: 100%;
  }

  .cform-checkbox {
    width: 25px;
    margin-top: 4px;
    margin-right: 10px;
    float: left;
  }

  .cform-col span {
    display: block;
    overflow: hidden;
  }

  .cform-col label {
    font-weight: bold;
    font-size: 14px;
    margin-left: 28px;
    line-height: 1;
    margin-top: 3px;
    padding: 4px 5px 4px 0;
  }

  .cform-section p input, .cform-section label input {
    max-width: 100px;
  }

  /*  SECTIONS  ============================================================================= */

  .cform-section {
    clear: both;
    padding: 0px;
    margin: 0px;
  }

  /*  GROUPING  ============================================================================= */

  .cform-group:before, .cform-group:after {
    content: "";
    display: table;
  }
  .cform-group:after {
    clear: both;
  }
  .cform-group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
    page-break-inside: avoid;
  }

  /*  GRID COLUMN SETUP   ==================================================================== */

  .cform-col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
  }

  .cform-col:first-child {
    margin-left: 0;
  }/* all browsers except IE6 and lower */

  /*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

  @media only screen and (max-width: 480px) {
    .cform-col {
      margin: 1% 0 1% 0%;
    }
  }

  /*  GRID OF TWO   ============================================================================= */

  .cform-span_2_of_2 {
    width: 100%;
  }

  .cform-span_1_of_2 {
    width: 49.2%;
  }

  .cform-input span{
    font-size:12px;
    font-weight:normal;
    margin-top:-2px;
  }

  /*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

  @media only screen and (max-width: 480px) {
    .cform-span_2_of_2 {
      width: 100%;
    }
    .cform-span_1_of_2 {
      width: 100%;
    }
  }

  /*  GRID OF THREE   ============================================================================= */

  .cform-span_3_of_3 {
    width: 100%;
  }

  .cform-span_2_of_3 {
    width: 66.13%;
  }

  .cform-span_1_of_3 {
    width: 32.26%;
  }

  /*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

  @media only screen and (max-width: 480px) {
    .cform-span_3_of_3 {
      width: 100%;
    }
    .cform-span_2_of_3 {
      width: 100%;
    }
    .cform-span_1_of_3 {
      width: 100%;
    }
  }

  /*  GRID OF FOUR   ============================================================================= */

  .cform-span_4_of_4 {
    width: 100%;
  }

  .cform-span_3_of_4 {
    width: 74.6%;
  }

  .cform-span_2_of_4 {
    width: 49.2%;
  }

  .cform-span_1_of_4 {
    width: 23.8%;
  }

  /*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

  @media only screen and (max-width: 480px) {
    .cform-span_4_of_4 {
      width: 100%;
    }
    .cform-span_3_of_4 {
      width: 100%;
    }
    .cform-span_2_of_4 {
      width: 100%;
    }
    .cform-span_1_of_4 {
      width: 100%;
    }
  }

  /*  GRID OF FIVE   ============================================================================= */

  .cform-span_5_of_5 {
    width: 100%;
  }

  .cform-span_4_of_5 {
    width: 79.68%;
  }

  .cform-span_3_of_5 {
    width: 59.36%;
  }

  .cform-span_2_of_5 {
    width: 39.04%;
  }

  .cform-span_1_of_5 {
    width: 18.72%;
  }

  /*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

  @media only screen and (max-width: 480px) {
    .cform-span_5_of_5 {
      width: 100%;
    }
    .cform-span_4_of_5 {
      width: 100%;
    }
    .cform-span_3_of_5 {
      width: 100%;
    }
    .cform-span_2_of_5 {
      width: 100%;
    }
    .cform-span_1_of_5 {
      width: 100%;
    }
  }

  @media only print {
      #cform-wrap {

      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 1em 0px;
      font-family: arial;
    }
  }